.footer {
    color: rgba(7, 7, 7, 1);
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
}

.heading {
    text-align: center;
}

.iconContainer {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 40px;
}

.message {
    text-align: center;
}


.buttonContainer {
    display: grid;
    justify-content: center;
}
.footerButton {
    display: grid;
    justify-self: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    background-color: rgba(7, 7, 7, 1);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
}